ALTER TABLE `ws_product`   
	CHANGE `QuantityOnHand` `QuantityOnHand` DECIMAL(7,4) NOT NULL,
	ADD COLUMN `SoldByQtys` VARCHAR(50) NOT NULL AFTER `ShippingAmount`;

ALTER TABLE `ws_producthistory`   
	CHANGE `QuantityOnHand` `QuantityOnHand` DECIMAL(7,4) NOT NULL,
	ADD COLUMN `SoldByQtys` VARCHAR(50) NOT NULL AFTER `ShippingAmount`;

ALTER TABLE `ws_offerhistory`
	CHANGE `DeletedTime` `DeletedTime` DATETIME(6),
	CHANGE `Created` `Created` DATETIME(6),
	CHANGE `LastModified` `LastModified` DATETIME(6),
	CHANGE `LogTime` `LogTime` DATETIME(6);

ALTER TABLE `ws_producthistory`   
	CHANGE `Created` `Created` DATETIME(6) NOT NULL,
	CHANGE `LastModified` `LastModified` DATETIME(6) NULL,
	CHANGE `LogTime` `LogTime` DATETIME(6) NOT NULL;
