CREATE TABLE `ws_Images` (
`Guid` VARCHAR(36) NOT NULL,
`ReferenceGuid` VARCHAR(36) NOT NULL,
`StoreGuid` VARCHAR(36) NOT NULL,
`ImageUrl` VARCHAR(255) NOT NULL,
`DisplayOrder` INT NOT NULL DEFAULT 0,
`Alt` VARCHAR(255) NOT NULL DEFAULT '',
`Title` VARCHAR(255) NOT NULL DEFAULT ''
)
COLLATE='utf8_general_ci'
;
