BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ws_CartOffers ADD
	MaxPerOrder int NOT NULL CONSTRAINT DF_ws_CartOffers_MaxPerOrder DEFAULT 0
GO
ALTER TABLE dbo.ws_CartOffers SET (LOCK_ESCALATION = TABLE)
GO
COMMIT



/****** Object:  StoredProcedure [dbo].[ws_Offer_GetListForPageOfProducts]    Script Date: 10/15/2019 2:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Offer_GetListForPageOfProducts]

-- Author:   			Joe Audette
-- Created: 			2008-10-20
-- Last Modified: 		2019-10-16

@StoreGuid		uniqueidentifier,
@PageNumber 	int,
@PageSize 		int

AS
DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1

CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
Guid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
Guid
)

SELECT
		p.[Guid]
		
FROM
		[dbo].[ws_Product] p
		
		
WHERE
		p.StoreGuid = @StoreGuid
		AND p.[IsDeleted] = 0
		AND p.[ShowInProductList] = 1
		AND p.[Guid] IN (
				SELECT op.ProductGuid 
				FROM [dbo].ws_OfferProduct op
				JOIN [dbo].ws_Offer o
				ON	op.OfferGuid = o.[Guid]
				WHERE op.IsDeleted = 0
				AND o.IsDeleted = 0
				AND o.IsVisible = 1
				)

ORDER BY
		p.SortRank1, p.SortRank2, p.[Name]

END

SELECT 
o.*,
op.ProductGuid

FROM	ws_Offer o

JOIN ws_OfferProduct op ON o.[Guid] = op.OfferGuid
--JOIN ws_OfferAvailability oa ON o.[Guid] = oa.OfferGuid
WHERE 
o.StoreGuid = @StoreGuid
AND o.IsVisible = 1
AND o.IsDeleted = 0
AND op.IsDeleted = 0
AND (
	(o.[Guid] IN
		(
		SELECT  [OfferGuid]
		FROM ws_OfferAvailability
		WHERE BeginUTC < GETUTCDATE()
		AND EndUTC > GETUTCDATE()
		AND IsDeleted = 0
		)
	)
	OR (o.[Guid] NOT IN
		(SELECT [OfferGuid]
		FROM ws_OfferAvailability
		WHERE IsDeleted = 0)
	)
)
AND op.ProductGuid IN
(SELECT
		t1.[Guid]
		
FROM
		[dbo].[ws_Product] t1

JOIN			#PageIndex t2
ON			
		t1.[Guid] = t2.[Guid]

WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
)

ORDER BY o.SortRank1, o.SortRank2, o.Price

DROP TABLE #PageIndex

GO
/****** Object:  StoredProcedure [dbo].[ws_Offer_GetByProduct]    Script Date: 10/15/2019 3:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_Offer_GetByProduct]

-- Author:   			Joe Audette
-- Created: 			2008-10-22
-- Last Modified: 		2019-10-16

@ProductGuid		uniqueidentifier

AS
SELECT 
o.*,
op.ProductGuid

FROM	ws_Offer o

JOIN ws_OfferProduct op ON o.Guid = op.OfferGuid
--JOIN ws_OfferAvailability oa ON o.Guid = oa.OfferGuid
WHERE 
op.ProductGuid = @ProductGuid
AND o.IsVisible = 1
AND o.IsDeleted = 0
AND op.IsDeleted = 0
AND (
o.[Guid] IN
		(
		SELECT  [OfferGuid]
		FROM ws_OfferAvailability
		WHERE BeginUTC < GETUTCDATE()
		AND EndUTC > GETUTCDATE()
		AND IsDeleted = 0
		)
	
	OR o.[Guid] NOT IN
		(SELECT [OfferGuid]
		FROM ws_OfferAvailability
		WHERE IsDeleted = 0)
)
ORDER BY o.SortRank1, o.SortRank2, o.Price;

GO
/****** Object:  StoredProcedure [dbo].[ws_CartOffers_SelectByCart]    Script Date: 10/16/2019 12:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_CartOffers_SelectByCart]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2019-10-16
*/

@CartGuid uniqueidentifier

AS
SELECT
		co.[ItemGuid],
		co.[CartGuid],
		co.[OfferGuid],
		co.[OfferPrice],
		co.[AddedToCart],
		co.[Quantity],
		co.[TaxClassGuid],
		co.[Tax],
		co.[IsDonation],
		co.[MaxPerOrder],
		o.[Name],
		o.[Description],
		o.Price

		
FROM
		[dbo].[ws_CartOffers] co

JOIN
		[dbo].[ws_Offer] o

ON		co.OfferGuid = o.Guid



		
WHERE
		co.[CartGuid] = @CartGuid



ORDER BY
		co.[AddedToCart]

GO
/****** Object:  StoredProcedure [dbo].[ws_CartOffers_Insert]    Script Date: 10/16/2019 1:02:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_CartOffers_Insert]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2019-10-16
*/

@ItemGuid uniqueidentifier,
@CartGuid uniqueidentifier,
@OfferGuid uniqueidentifier,
@OfferPrice decimal(15, 4),
@AddedToCart datetime,
@Quantity int,
@TaxClassGuid uniqueidentifier,
@Tax decimal(15, 4),
@IsDonation bit,
@MaxPerOrder int

	
AS
INSERT INTO 	[dbo].[ws_CartOffers] 
(
				[ItemGuid],
				[CartGuid],
				[OfferGuid],
				[OfferPrice],
				[AddedToCart],
				[Quantity],
				[TaxClassGuid],
				[Tax],
				[IsDonation],
				[MaxPerOrder]
) 

VALUES 
(
				@ItemGuid,
				@CartGuid,
				@OfferGuid,
				@OfferPrice,
				@AddedToCart,
				@Quantity,
				@TaxClassGuid,
				@Tax,
				@IsDonation,
				@MaxPerOrder				
)

GO
/****** Object:  StoredProcedure [dbo].[ws_CartOffers_Update]    Script Date: 10/16/2019 1:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ws_CartOffers_Update]

/*
Author:   			Joe Audette
Created: 			2007-03-05
Last Modified: 		2019-10-16
*/
	
@ItemGuid uniqueidentifier, 
@OfferGuid uniqueidentifier, 
@OfferPrice decimal(15, 4), 
@AddedToCart datetime, 
@Quantity int,
@TaxClassGuid uniqueidentifier,
@Tax decimal(15,4),
@IsDonation bit,
@MaxPerOrder int


AS
UPDATE 		[dbo].[ws_CartOffers] 

SET
			
			[OfferGuid] = @OfferGuid,
			[OfferPrice] = @OfferPrice,
			[AddedToCart] = @AddedToCart,
			[Quantity] = @Quantity,
			[TaxClassGuid] = @TaxClassGuid,
			[Tax] = @Tax,
			[IsDonation] = @IsDonation,
			[MaxPerOrder] = @MaxPerOrder
			
WHERE
			[ItemGuid] = @ItemGuid


