BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.ws_Images
(
Guid uniqueidentifier NOT NULL,
ReferenceGuid uniqueidentifier NOT NULL,
StoreGuid uniqueidentifier NOT NULL,
ImageUrl nvarchar(255) NOT NULL,
DisplayOrder int NOT NULL,
Alt nvarchar(255) NOT NULL,
Title nvarchar(255) NOT NULL
)  ON [PRIMARY]
GO

ALTER TABLE dbo.ws_Images ADD CONSTRAINT
PK_ws_Images PRIMARY KEY CLUSTERED
(
Guid
) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.ws_Images SET (LOCK_ESCALATION = TABLE)
GO
COMMIT


/****** Object:  StoredProcedure [dbo].[ws_Images_Insert]    Script Date: 10/16/2019 1:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ws_Images_Insert]

@Guid uniqueidentifier,
@ReferenceGuid uniqueidentifier,
@StoreGuid uniqueidentifier,
@ImageUrl nvarchar(255),
@DisplayOrder int,
@Alt nvarchar(255),
@Title nvarchar(255)

AS

INSERT INTO 	[dbo].[ws_Images]
(
[Guid],
[ReferenceGuid],
[StoreGuid],
[ImageUrl],
[DisplayOrder],
[Alt],
[Title]
)

VALUES
(
@Guid,
@ReferenceGuid,
@StoreGuid,
@ImageUrl,
@DisplayOrder,
@Alt,
@Title

)


GO
/****** Object:  StoredProcedure [dbo].[ws_Images_Update]    Script Date: 10/16/2019 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ws_Images_Update]


@Guid uniqueidentifier,
@ImageUrl nvarchar(255),
@DisplayOrder int,
@Alt nvarchar(255),
@Title nvarchar(255)

AS

UPDATE 		[dbo].[ws_Images]

SET
[ImageUrl] = @ImageUrl,
[DisplayOrder] = @DisplayOrder,
[Alt] = @Alt,
[Title] = @Title

WHERE
[Guid] = @Guid


GO
/****** Object:  StoredProcedure [dbo].[ws_Images_SelectOne]    Script Date: 10/16/2019 2:07:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ws_Images_SelectOne]



@Guid uniqueidentifier

AS


SELECT
[Guid],
[ReferenceGuid],
[StoreGuid]
[ImageUrl],
[DisplayOrder],
[Alt],
[Title]

FROM
[dbo].[ws_Images]

WHERE
[Guid] = @Guid

GO
/****** Object:  StoredProcedure [dbo].[ws_Images_Delete]    Script Date: 10/16/2019 2:08:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ws_Images_Delete]

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[ws_Images]
WHERE
[Guid] = @Guid


GO
/****** Object:  StoredProcedure [dbo].[ws_Images_SelectByReference]    Script Date: 10/16/2019 2:07:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ws_Images_SelectByReference]



@ReferenceGuid uniqueidentifier

AS


SELECT
[Guid],
[ReferenceGuid],
[StoreGuid],
[ImageUrl],
[DisplayOrder],
[Alt],
[Title]

FROM
[dbo].[ws_Images]

WHERE
[ReferenceGuid] = @ReferenceGuid

ORDER BY [DisplayOrder] asc, [Title] asc

GO
/****** Object:  StoredProcedure [dbo].[ws_Images_DeleteByReference]    Script Date: 10/16/2019 2:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ws_Images_DeleteByReference]

@ReferenceGuid uniqueidentifier

AS

DELETE FROM [dbo].[ws_Images]
WHERE
[ReferenceGuid] = @ReferenceGuid

GO
/****** Object:  StoredProcedure [dbo].[ws_Images_DeleteByStore]    Script Date: 10/16/2019 2:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ws_Images_DeleteByStore]

@StoreGuid uniqueidentifier

AS

DELETE FROM [dbo].[ws_Images]
WHERE
[StoreGuid] = @StoreGuid

GO

/****** Object:  StoredProcedure [dbo].[ws_Images_SelectByStore]    Script Date: 10/25/2019 3:40:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ws_Images_SelectByStore]



@StoreGuid uniqueidentifier

AS


SELECT
[Guid],
[ReferenceGuid],
[ImageUrl],
[DisplayOrder],
[Alt],
[Title]

FROM
[dbo].[ws_Images]

WHERE
[StoreGuid] = @StoreGuid

ORDER BY [ReferenceGuid]

