SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
GO

ALTER TABLE ws_Product DROP CONSTRAINT DF_ws_Product_QuantityOnHand;
ALTER TABLE ws_Product ALTER COLUMN QuantityOnHand DECIMAL(17,4) NOT NULL;
ALTER TABLE ws_Product ADD CONSTRAINT DF_ws_Product_QuantityOnHand DEFAULT ((0.0000)) FOR QuantityOnHand;

ALTER TABLE ws_Product ADD SoldByQtys nvarchar(50) NOT NULL CONSTRAINT DF_ws_Product_SoldByQtys DEFAULT ''
GO

ALTER TABLE ws_Product SET (LOCK_ESCALATION = TABLE)
GO

ALTER TABLE ws_ProductHistory ALTER COLUMN QuantityOnHand DECIMAL(17,4) NOT NULL;
ALTER TABLE ws_ProductHistory SET (LOCK_ESCALATION = TABLE)
GO

ALTER TABLE ws_OfferProduct DROP CONSTRAINT DF_ws_OfferProduct_Quantity;
ALTER TABLE ws_OfferProduct ALTER COLUMN Quantity DECIMAL(17,4) NOT NULL;
ALTER TABLE ws_OfferProduct ADD CONSTRAINT DF_ws_OfferProduct_Quantity DEFAULT ((1.0000)) FOR Quantity;
ALTER TABLE ws_OfferProduct SET (LOCK_ESCALATION = TABLE)
GO

/****** BEGIN adding SoldByQtys to Product ******/

ALTER PROCEDURE [ws_Product_Insert]

@Guid uniqueidentifier,
@StoreGuid uniqueidentifier,
@TaxClassGuid uniqueidentifier,
@ModelNumber nvarchar(255),
@Status tinyint,
@FullfillmentType tinyint,
@Weight decimal(7, 2),
@QuantityOnHand DECIMAL(17,4),
@SoldByQtys nvarchar(50),
@ImageFileName nvarchar(255),
@ImageFileBytes varbinary(max),
@Created datetime,
@CreatedBy uniqueidentifier,
@LastModified datetime,
@LastModifedBy uniqueidentifier,
@Url nvarchar(255),
@Name nvarchar(255),
@Description nvarchar(max),
@Abstract nvarchar(max),
@ShowInProductList bit,
@EnableRating bit,
@MetaDescription nvarchar(255),
@MetaKeywords nvarchar(255),
@SortRank1 int,
@SortRank2 int,
@TeaserFile nvarchar(255),
@TeaserFileLink nvarchar(255),
@CompiledMeta nvarchar(max),
@ShippingAmount decimal(15,4)


AS

INSERT INTO 	[ws_Product]
(
[Guid],
[StoreGuid],
[TaxClassGuid],
[ModelNumber],
[Status],
[FullfillmentType],
[Weight],
[QuantityOnHand],
[SoldByQtys],
[ImageFileName],
[ImageFileBytes],
[Created],
[CreatedBy],
[LastModified],
[LastModifedBy],
[Name],
[Description],
[Abstract],
[ShowInProductList],
[EnableRating],
[Url],
MetaDescription,
MetaKeywords,
SortRank1,
SortRank2,
TeaserFile,
TeaserFileLink,
CompiledMeta,
ShippingAmount
)

VALUES
(
@Guid,
@StoreGuid,
@TaxClassGuid,
@ModelNumber,
@Status,
@FullfillmentType,
@Weight,
@QuantityOnHand,
@SoldByQtys,
@ImageFileName,
@ImageFileBytes,
@Created,
@CreatedBy,
@LastModified,
@LastModifedBy,
@Name,
@Description,
@Abstract,
@ShowInProductList,
@EnableRating,
@Url,
@MetaDescription,
@MetaKeywords,
@SortRank1,
@SortRank2,
@TeaserFile,
@TeaserFileLink,
@CompiledMeta,
@ShippingAmount

)
GO

ALTER PROCEDURE [ws_Product_Update]

@Guid uniqueidentifier,
@TaxClassGuid uniqueidentifier,
@ModelNumber nvarchar(255),
@Status tinyint,
@FullfillmentType tinyint,
@Weight decimal(7, 2),
@QuantityOnHand DECIMAL(17,4),
@SoldByQtys nvarchar(50),
@ImageFileName nvarchar(255),
@ImageFileBytes varbinary(max),
@LastModified datetime,
@LastModifedBy uniqueidentifier,
@Url nvarchar(255),
@Name nvarchar(255),
@Description nvarchar(max),
@Abstract nvarchar(max),
@ShowInProductList bit,
@EnableRating bit,
@MetaDescription nvarchar(255),
@MetaKeywords nvarchar(255),
@SortRank1 int,
@SortRank2 int,
@TeaserFile nvarchar(255),
@TeaserFileLink nvarchar(255),
@CompiledMeta nvarchar(max),
@ShippingAmount decimal(15,4)


AS

UPDATE 		[ws_Product]

SET
[TaxClassGuid] = @TaxClassGuid,
[ModelNumber] = @ModelNumber,
[Status] = @Status,
[FullfillmentType] = @FullfillmentType,
[Weight] = @Weight,
[QuantityOnHand] = @QuantityOnHand,
[SoldByQtys] = @SoldByQtys,
[ImageFileName] = @ImageFileName,
[ImageFileBytes] = @ImageFileBytes,
[LastModified] = @LastModified,
[LastModifedBy] = @LastModifedBy,
[ShowInProductList] = @ShowInProductList,
[EnableRating] = @EnableRating,
[Url] = @Url,
[Name] = @Name,
[Description] = @Description,
[Abstract] = @Abstract,
MetaDescription = @MetaDescription,
MetaKeywords = @MetaKeywords,
SortRank1 = @SortRank1,
SortRank2 = @SortRank2,
TeaserFile = @TeaserFile,
TeaserFileLink = @TeaserFileLink,
CompiledMeta = @CompiledMeta,
ShippingAmount = @ShippingAmount
WHERE
[Guid] = @Guid

GO

/****** END adding SoldByQtys to Product ******/
